@{
    Layout = "_Layout";
    ViewData["Title"] = "Home";
}

<h1>Welcome</h1>
<p>I will be hosting some coding projects I have been developing on here over time. Stay tuned.
    <br /><br />-Chase Carter (Ixnay)</p>